/*
* {
    border: 1px solid red;
}
*/

html {
    font-size: 20px;
    background-color: black; 
    /*url('./background.jpg') bottom center;
    background-size: cover;*/
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    position: relative;
    min-height: 100vh;
  }

/*content-wrapper*/
.content-wrapper {
    padding-bottom: 2.5rem;    /* Footer height */
}

/*header*/
.header {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

/*main*/
.main {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 0px 0 50px 0;
}

.button {
    filter: invert(100%);
}

.score {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 400px 0px 400px;
}

.player {
    text-align: center;
}

.computer {
    text-align: center;
}

.results {
    /*display: flex;
    flex-direction: column;*/
    text-align: center;
}

.result {
    margin-bottom: 5px;
}

.reset {
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 20px;
    background-color: white;
    margin-top: 20px;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}